%p#notice= notice
%p
  %b First name:
  = @person.first_name
%p
  %b Last name:
  = @person.last_name
%p
  %b Phone numbers:
  = render partial: 'phone_numbers', object: @person.phone_numbers
  = link_to 'Add a phone number', new_phone_number_path(person_id: @person.id)
%p
  %b Email Addresses:
  = render partial: 'email_addresses', object: @person.email_addresses
  = link_to 'Add an email address', new_email_address_path(person_id: @person.id)
= link_to 'Edit', edit_person_path(@person)
|
\#{link_to 'Back', people_path}
